
body{
    position:absolute;
    left:25%;
    width:414px;
    height: 896px;
    background: #E5E5E9;
    outline: 1px dashed black;
    z-index: 100000;
}
.header{
    margin-top:45px;
    margin-left:35px;
    width:351px;
    height:38px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}
.settings{
    width:22px;
    height:24.59px;
}
.instagram{
    width:108px;
    height:38px;
}
.messages{
    width: 23px;
    height: 20.01px;
}

.stories{
    margin-top: 24.61px;
    width:414px;
    height:78.39px;
    display:flex;

    overflow: hidden;
}
.story1{
    margin-left: 35px;
}
.story-box{
    box-sizing: border-box;
    width: 58.79px;
    height: 58.79px;
    border: 2px solid #C4C4C4;
    border-radius: 23px;
}

.story-text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}
.my{
    margin:4.13px auto;
}
.other{
    margin:3.16px auto;
}
.box{
    box-sizing: border-box;
    width: 59.83px;
    height: 58.79px;
    border-radius: 23px;
    background: url("./Images/Profiles/image.jpg");
}
.story2{
    margin-left: 13.35px;
}
.story3{
    margin-left: 13.44px;
}
.story4{
    margin-left: 14.44px;
}
.story5{
    margin-left: 14.44px;
}
.story6{
    margin-left: 13.41px;
}
.pic{
    margin: 2.58px 2.58px 2.58px 2.58px;
    width: 49.51px;
    height: 48.48px;
    border-radius: 18px;
    border: white 2.16px solid;
    background: white;
}
.sixth{
    overflow: hidden;
}

.posts{
    margin-top:27px;
    margin-left:28px;
    width:359px;
    height:686px;
    overflow:hidden;
}
.post{
    width:353px;
    height:461px;
    background: #FFFFFF;
    border-radius: 33px;
}
.khokha{
    margin-top:22px;
}

